body {
  background-color: red;
}


#image {
  /* width: 500px; */
  height: 400px;
}

.boxes {
  background-color: gray;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 10px;
}

.green {
  background-color: green;
}

.white {
  background-color: white;
}

.box3 {
  background-color: green;
}
