<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>My Store</title>
	<link rel="stylesheet" href="mystyle.css">
	<script src="vue.js"></script>
</head>
<body>

<div id="app">

	<p class="text" :style="textStyle" v-for="text in sampleText">{{ text }}</p>

	<input placeholder="change sample text font" type="text" v-model="font">
	<input placeholder="change sample text size" type="text" v-model="size">
	<input placeholder="change sample text color" type="text" v-model="color">

</div>

<script>
	new Vue({
	el: '#app',
  data: {
    sampleText : ["The", "quick", "brown", "fox", "jumps", "over", "the", "lazy", "dog"],
		font: 'sans-serif',
		size: 20,
		color: 'black',
  },
	computed: {
		textStyle: function() {
			return {
				fontFamily: this.font,
				fontSize: this.size + 'px',
				color: this.color,
			};
		},
	},
});
</script>
</body>
</html>
